<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="web.dao.UserBasicInfoMapper">

    <select id="selectUserByloginName" parameterType="java.lang.String" resultType="web.entity.UserBasicInfo">
        select * from user_basic_info where login_name = #{loginName}
    </select>
</mapper>